@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'SF Pro Display', sans-serif;
  color: #828282;
}
a{
  transition: all .5s ease;
}
.style-header li:hover a,
.style-header li a.active{
  text-shadow: 0px 0px 73.212px rgba(186, 252, 78, 0.50), 0px 0px 18.911px #BAFC4E;
  background: var(--X1-Exchange-Gradient, linear-gradient(96deg, #BAFC4E 1.96%, #83FFC7 55.54%, #FBFF41 109.59%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.btn-connect-wallet{
  background: linear-gradient(96deg, #BAFC4E 1.96%, #83FFC7 55.54%, #FBFF41 109.59%);
  color: #333333;
  transition: all .5s ease;
  border: 1px solid transparent;
}
.btn-connect-wallet:hover{
  color: #fff;
  background: transparent;
  border: 1px solid rgb(190 242 100 / 1);
}
.activeLong,
.btnLong:hover{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -21.58%, #27AE60 145.34%);
  border-bottom: 1px solid #6FCF97;

}
.activeShort,
.btnShort:hover{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -21.58%, #E74B75 145.34%);
  border-bottom: 1px solid #FF7676;

}